body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
  background-color: #DFB887;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.project_title {
  margin: 0;
  font-size: 1.7em;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.project_title:hover {
  color: #444;
}

header h1.group_members {
  margin: 0;
  font-size: 1.7em;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  float: right;
}

header h1.group_members:hover {
  color: #444;
}

div.home {
  height: 200px;
  position: relative;
  padding: 10px 20px 30px 20px;
  margin: 10px;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

p.description {
  font-size: 1.2em;
  text-align: center;
}

div.dropdown {
  padding: 16px
}

div.dropdown select {
  margin: 15px
}

div.article_type_btn_group {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  margin: 10px;
  color: white;
  background-color: #555555;
  font-size: 24px;
  padding: 16px;
}

button:hover {
  background-color: #E7E7E7;
}

textarea.article_text {
  margin: 10px;
  display: block;
}

label.text_label {
  margin: 10px;
  display:block;
}

div.operation_group {
  margin: 10px;
  display:block;
}

div.summary_length {
  margin: 10px;
  display:block;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
